<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudfalre.com/ajax/libs/front-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" alt="" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble.svg" class="icon-1" alt="" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_2">
            <div class="left_2-1">
              <div class="left_2-1_left1">Age:</div>
              <div class="left_2-1_right1"><%=user.age%></div>
            </div>
            <div class="left_2-1">
              <div class="left_2-1_left2">Residence:</div>
              <div class="left_2-1_right2"><%=user.residence%></div>
            </div>
            <div class="left_2-1">
              <div class="left_2-1_left3">Freelance:</div>
              <div class="left_2-1_right3"><%=user.freelance%></div>
            </div>
            <div class="left_2-1">
              <div class="left_2-1_left4">Adress:</div>
              <div class="left_2-1_right4"><%=user.adress%></div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_3">
            <div class="left_3-1">Languages</div>
            <div class="left_3-2">
              <div class="left_3-2_uzbek">Uzbek</div>
              <div class="left_3-2_uzbek_percent">100%</div>
            </div>
            <div class="left_3_upborder">
              <div class="left_3_inborder1"></div>
            </div>
            <div class="left_3-2">
              <div class="left_3-2_english">English</div>
              <div class="left_3-2_english_percent">80%</div>
            </div>
            <div class="left_3_upborder">
              <div class="left_3_inborder2"></div>
            </div>
            <div class="left_3-2">
              <div class="left_3-2_korean">Korean</div>
              <div class="left_3-2_korean_percent">60%</div>
            </div>
            <div class="left_3_upborder">
              <div class="left_3_inborder3"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_4">
            <div class="left_4-1">Skills</div>
            <div class="left_4-2">
              <div class="left_4-2_html">HTML</div>
              <div class="left_4-2_percent">90%</div>
            </div>
            <div class="left_4_upborder">
              <div class="left_4_inborder1"></div>
            </div>
            <div class="left_4-2">
              <div class="left_4-2_css">CSS</div>
              <div class="left_4-2_percent">85%</div>
            </div>
            <div class="left_4_upborder">
              <div class="left_4_inborder2"></div>
            </div>
            <div class="left_4-2">
              <div class="left_4-2_js">Js</div>
              <div class="left_4-2_percent">80%</div>
            </div>
            <div class="left_4_upborder">
              <div class="left_4_inborder3"></div>
            </div>
            <div class="left_4-2">
              <div class="left_4-2_php">PHP</div>
              <div class="left_4-2_percent">75%</div>
            </div>
            <div class="left_4_upborder">
              <div class="left_4_inborder4"></div>
            </div>
            <div class="left_4-2">
              <div class="left_4-2_wordpress">WordPress</div>
              <div class="left_4-2_percent">85%</div>
            </div>
            <div class="left_4_upborder">
              <div class="left_4_inborder5"></div>
            </div>
          </div>
          <div class="marginer"></div>

          <div class="left_5">
            <div class="left_5-1">Extra Skills</div>
            <div class="left_5-2">
              <img src="icon/icons.svg" alt="" />
              <div class="left_5_bootstrap">Bootstrap, Materialize</div>
            </div>
            <div class="left_5-2">
              <img src="icon/icons.svg" alt="" />
              <div class="left_5_style">Style, Sass, Less</div>
            </div>
            <div class="left_5-2">
              <img src="icon/icons.svg" alt="" />
              <div class="left_5_gulp">Gulp, Webpack, Grunt</div>
            </div>
            <div class="left_5-2">
              <img src="icon/icons.svg" alt="" />
              <div class="left_5_git">Git Knowledge</div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <!-- <button class="left_6">
          <div class="left_6-1">DOWNLOAD CV</div>
          <div class="left_6-2"><img src="" alt=""></div>
        </button> -->

        <div class="midd_frame">
          <div class="midd_top">
            <div class="midd_top-1">Doctor neurologists in OHSU Hospital</div>
            <div class="midd_top-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
              volutpat feugiat placerat lobortis. Natoque rutrum semper sed
              suspendisse nunc lectus.
            </div>
            <button class="midd_top_button">
              Here me <img src="icon/next.png" alt="" />
            </button>
            <img
              class="topp_profile_photo"
              src="images/yourphoto.png"
              alt=""
            />
            <img class="topp_icon1" src="icon/ellipse 15.svg" alt="" />
            <img class="topp_icon6" src="icon/ellipse 12.svg" alt="" />
            <img class="topp_icon2" src="icon/ellipse 16.svg" alt="" />
            <img class="topp_icon3" src="icon/rectangle 52.svg" alt="" />
            <img class="topp_icon4" src="icon/ellipse 13.svg" alt="" />
            <img class="topp_icon5" src="icon/polygon 1.svg" alt="" />
            <img class="topp_icon7" src="icon/rectangle 51.svg" alt="" />
          </div>
          <div class="midd_bott">
            <div class="midd_1">My Services</div>
            <div class="midd_2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit. lorem
                ipsum</div>
            <div class="midd_container_box">
                <div class="midd_1_box">
                  <img src="icon/vector.svg" class="bott_icons_1" alt="">  
                <div class="bott_tupy_web1">Web Development</div>
                <div class="bott_tupy_blog">Blog, E-commerce</div>
                </div>
                <div class="midd_1_box">
                    <img src="icon/illustration.svg" class="bott_icons_1" alt="">  
                  <div class="bott_tupy_web2" >UI/UX Design</div>
                  <div class="bott_tupy_blog">Mobile App, Website Design</div>
                  </div>
                  <div class="midd_1_box">
                    <img src="icon/Microphone.svg" class="bott_icons_1" alt="">  
                  <div class="bott_tupy_web2">Sound Design</div>
                  <div class="bott_tupy_blog">Voice Over, Beat Making</div>
                  </div>
                  <div class="midd_1_box">
                    <img src="icon/game-development.svg" class="bott_icons_1" alt="">  
                  <div class="bott_tupy_web1">Game Design</div>
                  <div class="bott_tupy_blog">Character Design, Props & Objects</div>
                  </div>
                  <div class="midd_1_box">
                    <img src="icon/Photographer.svg" class="bott_icons_1" alt="">  
                  <div class="bott_tupy_web1">Photography</div>
                  <div class="bott_tupy_blog">Blog, Portrait, Product Photography</div>
                  </div>
                  <div class="midd_2_box">
                  <div class="bott_tupy_web1">Advertising</div>
                  <div class="bott_tupy_blog1">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Vitae Nulla Diam In Ac Dictum A Uma Viverra Morbi.</div>
                  <button class="ordernow">ORDER NOW  <img src="icon/order.png" alt=""></button>
                  <!-- <div> <img src="btn_icon/order.jpeg" class="bott_icons_11" alt=""></div> -->
                  <!-- <img src="btn_icon/order.jpeg" class="bott_icons_1" alt="">   -->
                  </div>
            </div>
        </div>
    </div>
        </div>
        <div class="right_frame">
            <div class="right_frame_1">
              <img src="icon/Contrast.svg"  alt="" />
            </div>
          <div class="right_frame_2">
              <div>
              <img src="icon/home.svg" class="right_icons" alt="">
              </div>
              <div>
                  <img src="btn_icon/Service.svg" class="right_icons" alt="">
              </div>
              <div><img src="btn_icon/Cv.svg" class="right_icons"></div>
              <div><img src="btn_icon/Portfolio.svg" class="right_icons" alt=""></div>
              <div><img src="btn_icon/Blog.svg" class="right_icons" alt=""></div>
              <div><img src="btn_icon/Contact.svg" class="right_icons" alt=""></div>
          </div>
          
    </div>
        </div>
      </div>
    </div>
  </body>
</html>
